*.log 
*.pot 
*.pyc 
*~ 
__pycache__ 
myvenv
local_settings.py 
settings.py
db.sqlite3
.DS_Store 
*.ipynb

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml