<!DOCTYPE html>

{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/accounts_style.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar_style.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog_style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-expand-lg fixed-top justify-content-between" id="nav_opacity">
            <div>
                <a id='logo' href="{% url 'main' %}">
                    <img id='logo' src="{% static 'images/purple_gazami2.png' %}" width="150" height="110" alt="">
                </a>
                {% if user.is_authenticated %}
                    {% if user.cuser.check %}
                        <a id="navbar-my" href="{% url 'c_mypage' %}">
                            <img src="{% static 'images/mypage.png' %}" width="50" height="30" alt="">
                        </a>
                    {% else %}
                        <a id="navbar-my" href="{% url 'p_mypage' %}">
                            <img src="{% static 'images/mypage.png' %}" width="50" height="30" alt="">
                        </a>
                    {% endif %}
                {% else %}
                    <a id="navbar-my" class='esup navbar-my-login' href= "{% url 'login' %}">로그인</a>
                {% endif %}
            </div>

            <form id='navbar-form' class="form-inline">
                <img id='asking-gazami' src="{% static 'images/purple_gazami2.png'%}" width="150" height="110" alt="">
                <input class="form-control mr-sm-2" id='search-text' type="search" placeholder="공연명 또는 공연자명을 검색하세요." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id='search-button' type="submit">
                    <img id="search-button-img" src="{% static 'images/balloon_confirm.png'%}" width="130" height="60" alt="">
                </button>
                <img id='activate-search' src="{% static 'images/search.png'%}"  width="60" height="60" alt="act">
                <img id='deactivate-search' src="{% static 'images/cancel.png'%}" width="60" height="60" alt="dea">
            </form>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
    <script type='text/javascript' src="{% static 'js/javascript.js' %}"></script>
</html>
