<h1>공연자 마이페이지</h1>
<a href="{% url 'main' %}">메인으로가기</a>
<br>
{% if user.is_authenticated %}
    <h3>반갑습니다. {{user.username}}님!</h3>
    <a href="{% url 'p_update' %}">회원정보수정</a>

    <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
    <form id="logout" method="POST" action="{% url 'logout' %}">
    {% csrf_token %} <input type="hidden">


<br>
    <h2>현재 {{user.username}}가 공연중인 작품</h2>
    {% for post in posts_list %}
        {% if post.post_author == user %}
            <h3><a href="{% url 'p_detail' index=post.pk %}">공연제목 : {{ post.show_title }}</a></h3>
            {% if post.show_poster %}
            <img src="{{post.show_poster.url}}" height=200>
            {% endif %}
        {% endif %}
    {% endfor %}
    <br>
    <a href="{% url 'new_performance' %}">+(공연 추가하기)</a>
    <br>
    <br>
    <h2>지난 공연</h2>
    {% for post in posts_list %}
        {% if post.post_author == user %}
            <h3><a href="{% url 'performance' index=post.pk %}">공연제목 : {{ post.show_title }}</a></h3>
            {% if post.show_poster %}
            <img src="{{post.show_poster.url}}" height=200>
            {% endif %}
        {% endif %}
    {% endfor %}

{% else %}
    <a href= "{% url 'login' %}">로그인</a>

{% endif %}

