<!DOCTYPE html>
{% extends 'base/navbar.html' %}

{% block content %}
    {% load staticfiles%}
        <div class='upper_blank_main'></div>

        <br>
        {% if user.is_authenticated %}
            <!-- 프로필 이미지가 들어가야 한다 -->
            <div class='profile-container'>
                <div class='profile-cropper'>
                    <img class='profile-img' src="{% static 'images/default_profile.png' %}" alt="">
                </div>
                <br>
                <h3 class='esup'>{{ request.user.username }}</h3>
                <a class='esup modify' href="{% url 'p_update' %}">회원정보수정</a>
                <span>|</span>
                <a class="esup" href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
                <form id="logout" method="POST" action="{% url 'logout' %}">
                {% csrf_token %} <input type="hidden">
            </div>

    <div class='container'>
        <br>
        <h3 class='esup now-performing'>"{{user.username}}"님의<br>공연중인 작품</h3>
        <br>
        {% for post in posts_list %}
            {% if post.post_author == user %}
                {% if post.show_poster %}
                        <div class="card" style="width: 18rem;">
                                <img src="{{post.show_poster.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title esup">"{{ post.show_title }}"</h5>
                                <p class="card-text esup">{{post.post_author}}</p>
                                <a class='btn btn-warning esup' href="{% url 'p_detail' index=post.pk %}">자세히 보기</a>
                            </div>
                        </div>
                        <br>
                {% else %}
                    <div class="card" style="width: 18rem;">
                        <div class='no-poster-card'>
                            <img src="{% static 'images/no_poster.png' %}" class="card-img-top" alt="...">
                            <p class='esup font-purple'>지금 내 기분이 그래<br>포스터가 없넹..?</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title esup">"{{ post.show_title }}"</h5>
                            <p class="card-text esup">{{post.post_author}}</p>
                            <a class='btn btn-warning esup' href="{% url 'p_detail' index=post.pk %}">자세히 보기</a>
                        </div>
                    </div>
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}
            <br>
            <a class='btn btn-warning esup' href="{% url 'new_performance' %}">+(공연 추가하기)</a>
            <br>
            <br>


            <br>
            <h3 class='esup now-performing'>지난 공연</h3>
            <br>
            {% for post in posts_list %}
            {% if post.post_author == user %}
                {% if post.show_poster %}
                        <div class="card" style="width: 18rem;">
                                <img src="{{post.show_poster.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title esup">"{{ post.show_title }}"</h5>
                                <p class="card-text esup">{{post.post_author}}</p>
                                <a class='btn btn-warning esup' href="{% url 'performance' index=post.pk %}">자세히 보기</a>
                            </div>
                        </div>
                        <br>
                {% else %}
                    <div class="card" style="width: 18rem;">
                        <div class='no-poster-card'>
                            <img src="{% static 'images/no_poster.png' %}" class="card-img-top" alt="...">
                            <p class='esup font-purple'>지금 내 기분이 그래<br>포스터가 없넹..?</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title esup">"{{ post.show_title }}"</h5>
                            <p class="card-text esup">{{post.post_author}}</p>
                            <a class='btn btn-warning esup' href="{% url 'performance' index=post.pk %}">자세히 보기</a>
                        </div>
                    </div>
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}


        {% else %}
        <br>
        <br>
        <br>
        <div class='profile-container'>
            <h4 class='esup'>로그인이 필요한 서비스입니다!</h4>
            <br>
            <a href= "{% url 'login' %}"><img class='btn_login_mypage' src="{% static 'images/btn_login.png' alt='btn upload fail' %}"></a>
        </div>

        {% endif %}
    </div>

{% endblock %}
