<html><head></head><body><h2>공연자 회원가입</h2>
    <form method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="MDgQtJEmy3nlL80LDg5PdoGjmH8nrcUUPmgeAjDaNP8x2KHxML6yPjtMr0NJM9mS">
        <p><label for="id_p_name">P name:</label> <input type="text" name="p_name" required="" id="id_p_name"></p>
    <p><label for="id_username">사용자 이름:</label> <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username"> <span class="helptext">150자 이하 문자, 숫자 그리고 @/./+/-/_만 가능합니다.</span></p>
    <p><label for="id_password1">비밀번호:</label> <input type="password" name="password1" required="" id="id_password1"> <span class="helptext"></span></p><ul><li>다른 개인정보와 비슷한 비밀번호는 사용할 수 없습니다.</li><li>비밀번호는 최소 8자 이상이어야 합니다.</li><li>비밀번호는 일상적으로 사용되는 비밀번호일 수 없습니다.</li><li>비밀번호는 전부 숫자로 할 수 없습니다.</li></ul><p></p>
    <p><label for="id_password2">비밀번호 확인:</label> <input type="password" name="password2" required="" id="id_password2"> <span class="helptext">확인을 위해 이전과 동일한 비밀번호를 입력하세요. </span></p>
    <p><label for="id_p_phone">P phone:</label> <input type="text" name="p_phone" required="" id="id_p_phone"></p>
    <p><label for="id_p_email">P email:</label> <input type="email" name="p_email" required="" id="id_p_email"></p>
        <button type="submit">공연자 회원가입</button>
    </form></body></html>