.navbar-default{
    background-color: #5c00fce3;
}

nav{
    height: 150px;
}

#search-text{
    width: 400px;
    height: 75px;
}

#search-button{
    border: none;
    background: none;
    padding: 0;
    margin-right: 20px;
}

#asking-gazami{
    margin-right: 20px;
}

#search-button-img{
    margin-left: 30px;
}

#activate-search{
    margin-right: 30px;
}

.navbar-my-login{
    color: black;
}
