<h1>메인</h1>

{% if user.is_authenticated %}
    <h3>반갑습니다. {{user.username}}님! {{user.c_name}} {{user.p_name}}</h3>
    <a href="{% url 'new_performance' %}">글쓰기</a><br>
<br>
    {% if user.cuser.check %}
    <a href="{% url 'c_mypage' %}">예매자 마이페이지</a>
    {% else %}
    <a href="{% url 'p_mypage' %}">공연자 마이페이지</a><br>
    {% endif %}
    <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
    <form id="logout" method="POST" action="{% url 'logout' %}">
    {% csrf_token %} <input type="hidden">
{% else %}
    <a href= "{% url 'login' %}">로그인</a>
{% endif %}
<br>


{% for post in posts_list %}
        <h3><a href="{% url 'performance' index=post.pk %}">공연제목 : {{ post.show_title }}</a></h3>
        <p> 작성자 : {{post.post_author}}</p>
        {% if post.show_poster %}
            <img src="{{post.show_poster.url}}" height=200>
        {% endif %}
{% endfor %}
